*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 30px;
}