*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    font: Roboto;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.header-logo h1 {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.awesome-website {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    background-color: #1f2937;
    gap: 50px;
}

.awesome-website-text {
    width: 50%;
}

.awesome-website-img {
    width: 50%;
    background-color: gray;
    color: #f9faf8;
    justify-items: center;
    padding: 75px 100px;
}

.awesome-title {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}

.awesome-text {
    font-size: 18px;
    color: #e5e7eb;
}

.awesome-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    border-radius: 20%;
    border: none;
    margin-top: 10px;
}

.random-info {
    padding: 50px 200px;
}

.random-info h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 30px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.content {
    width: 150px;
    text-align: center;
}

.content p {
    font-size: 18px;
    color: gray;
}

.box {
    border: #3882f6 solid 3px;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e5e7eb;
    padding: 100px 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-weight: bold;
    align-self: flex-end;
}